body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

.navbar {
  background-color:#001f3f;
  padding: .5rem 1rem 0 1rem;
}

.brand {
  color: #ffffff;
}

.nav-item {
  color: #39cccc;
}

.subnav {
  background-color: #39cccc;
  background-color: #1c3d5e;
}

.activePokemon {
  background-color: #ffffff;
}

.nav-link{
   color: #e7f7ff;
}
.pointer {
   text-align: center;
   width: 100%;
   margin-top: 0;
    margin-bottom: 0;
}

a.nav-link.disabled {
  color: #111111;
}

a.nav-link.disabled{
  color: #b10dc9;
  color: #39cccc;
  cursor: none;
  background-color: rgba(240, 240, 240, 0.15);
}

.poke-list {
  background-color: #0074d9;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px; */
  /* bottom: 0; */
  left: 0;
  overflow-y: scroll;
  padding-right: 0;
   padding-left: 0;
}

.poke-cards {
  background-color: #7fdbff;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px; */
  /* bottom: 0; */
  /* left: 0; */
  overflow-y: scroll;
}

.poke-details {
  background-color: #7fdbff;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px;
  bottom: 0;
  left: 0; */
  overflow-y: scroll;
}

.poke-details .card{
  background-color: #7fdbff;
  border: 0px solid rgba(0,0,0,.125);
}
