body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

.navbar {
  background-color:#001f3f;
}

.brand {
  color: #ffffff;
}

.nav-item {
  color: #D11F76;
}

.subnav {
  background-color: #39cccc;
}

.activePokemon {
  background-color: #ffffff;
}

a.nav-link.disabled {
  color: #111111;
}

a.nav-link.disabled{
  color: #b10dc9;
}

.poke-list {
  background-color: #0074d9;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px; */
  /* bottom: 0; */
  left: 0;
  overflow-y: scroll;
}

.poke-cards {
  background-color: #7fdbff;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px; */
  /* bottom: 0; */
  /* left: 0; */
  overflow-y: scroll;
}

.poke-details {
  background-color: #7fdbff;
  text-align: center;
  height:82vh;
  position: relative;
  /* top: 0px;
  bottom: 0;
  left: 0; */
  overflow-y: scroll;
}

.poke-details .card{
  background-color: #7fdbff;
  border: 0px solid rgba(0,0,0,.125);
}
